<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link th:href="@{/css/starter-template.css}" rel="stylesheet">

    <title th:text="${title}">게시판</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
    <a class="navbar-brand" href="#">Spring Boot Tutorial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" th:classappend="${menu}=='home'? 'active':''" >Home <span class="sr-only" th:if="${menu}=='home'">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/board/list}" th:classappend="${menu}=='board' ? 'active':''" >게시판<span class="sr-only" th:if="${menu}=='board'">(current)</span></a>
            </li>
        </ul>

        <div class="my-2 my-lg-0">

            <form th:action="@{/logout}" method="post" id="logout-frm" name="logout"  sec:authorize="isAuthenticated()">

                <ul  class="navbar-nav mr-auto">
                    <li class="nav-item" >
                       <span sec:authentication="name" class="nav-link text-white">Bob</span>
                    </li>

                    <li class="nav-item" >
                         <span sec:authentication="principal.authorities"  class="nav-link text-white">[ROLE_USER, ROLE_ADMIN]</span>
                    </li>

                    <li class="nav-item" >
                         <a style="cursor: pointer"  class="nav-link text-white"  onclick="document.logout.submit()" >로그아웃</a>
                    </li>
                </ul>
            </form>

            <ul sec:authorize="isAnonymous()" class="navbar-nav mr-auto">
                <li class="nav-item" >
                    <a   class="nav-link active" href="/account/login">로그인</a>
                </li>

                <li class="nav-item" >
                    <a   class="nav-link active" href="/account/register">회원가입</a>
                </li>
            </ul>

        </div>
    </div>
</nav>





</body>
</html>